@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--novel-white);
}

@layer base {
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: initial;
    background-color: initial;
    background-image: initial;
  }
}
